<mat-card class="creator-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title class="title"> {{ background.name }} </mat-card-title>
    <mat-card-subtitle class="subtitle"> {{ background.bonus }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="name">Aptitude:</div>
      <div class="value">{{ background.pick?.aptitudes | or }}</div>
    </div>

    <div class="row">
      <div class="name">Skills</div>
      <div class="value">
        @if(background.skills){
          {{ background.skills | spread }}
          , 
        }
        {{ background.pick?.skills | or }}
      </div>
    </div>

    <div class="row">
      <div class="name">Talents</div>
      <div class="value">
        @if(background.talents){
          {{ background.talents | spread }}
          , 
        }
        {{ background.pick?.talents | or }}
      </div>
    </div>
    <div class="row">
      <div class="name">Equipment</div>
      <div class="value">
        @if(background.equipment){
          {{ background.equipment | spread }}
          , 
        }
        {{ background.pick?.equipment | or }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
