@let character = creatorService.character$ | async; 

<mat-stepper [linear]="true" #stepper>
  <mat-step>
    <ng-template matStepLabel> Choose your Homeworld </ng-template>
    <app-homeworld-step
      [homeworlds]="creatorService.homeworlds$ | async"
      (chooseHomeworld)="chooseHomeworld($event)"
    />
  </mat-step>

  <mat-step>
    <ng-template matStepLabel> Choose your Background </ng-template>
    <app-background-step
      [backgrounds]="creatorService.backgrounds$ | async"
      (chooseBackground)="chooseBackground($event)"
    />
  </mat-step>

  <mat-step>
    <ng-template matStepLabel> Choose your Role </ng-template>
    <app-role-step [roles]="creatorService.roles$ | async" (chooseRole)="chooseRole($event)" />
  </mat-step>

  <mat-step>
    <ng-template matStepLabel> Determin Attribiutes </ng-template>
    @let attributes = creatorService.attributes$| async;
    @let homeworldAttributes = character?.homeworld?.attributes; 
    
    @if(homeworldAttributes && attributes){
    <app-attribute-step
      [bonus]="homeworldAttributes.bonus"
      [penality]="homeworldAttributes.penality"
      [attributes]="attributes"
      (generateAll)="generateAttributes()"
      (reroll)="reroll($event)"
    />
    }
  </mat-step>

  <mat-step>
    <ng-template matStepLabel> Determin Aptitudes </ng-template>
    <app-aptitude-step
      [aptitudes]="(creatorService.aptitudes$ | async) ?? []"
      [aptitudesToPick]="(creatorService.aptitudesToPick$ | async) ?? []"
      (updateAptitudes)="chooseAptitudes($event)"
    >
    </app-aptitude-step>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel> Pick Talents </ng-template>
    @let talents = (creatorService.talents$ | async) ?? []; 
    @let talentsToPick = (creatorService.talentsToPick$ | async) ?? []; 

    <app-telent-step
      [talents]="talents"
      [talentsToPick]="talentsToPick"
    />
    
  </mat-step>

  <mat-step>
    <ng-template matStepLabel> Pick Skills </ng-template>
    @let skills = creatorService.skills$ | async; 
    @let skillsToPick = creatorService.skillsToPick$ | async; 
    <app-skill-step [skills]="skills ?? []" [skillsToPick]="skillsToPick?? []"/>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel> Pick Equipment </ng-template>
    @let equipment = (creatorService.equipment$ | async) ?? []; 
    @let equipmentToPick =(creatorService.equipmentToPick$ | async) ?? []; 

    <app-equipment-step 
      [equipment]="equipment"
      [equipmentToPick]="equipmentToPick"
    />
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Determin Wounds And Fate</ng-template>
  
    @if(character?.homeworld?.wounds){ Base: {{ character!.homeworld!.wounds }} <br />
    total: {{ character?.wounds ?? '' }}
    <button (click)="setWounds()">add 1d5 to wounds</button>
    }
    <br />
    Fate <br />
    Base: {{ character?.homeworld?.fate }} | threshold:
    {{ character?.homeworld?.blessingThreshold }} total: {{ character?.fate }}
    <button (click)="setFate()">roll 1d10</button>
    
    <app-step-footer />
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Determin Divination</ng-template>
    <app-divination-step [divination]="character?.divination"/> 
  </mat-step>

  
</mat-stepper>
