@let character = creatorService.character$ | async;

<app-main-navigation></app-main-navigation>

<div class="grid">
  <mat-stepper
    class="content creator-wrapper mat-body"
    orientation="horizontal"
    [linear]="true"
    #stepper
  >
    <mat-step>
      <ng-template matStepLabel> Homeworld </ng-template>
      <app-homeworld-step
        [homeworlds]="creatorService.homeworlds$ | async"
        [selectedHomeworld]="character?.homeworld?.key"
        (chooseHomeworld)="setHomeworld($event)"
      />
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> Background </ng-template>
      <app-background-step
        [backgrounds]="creatorService.backgrounds$ | async"
        [selectedBackground]="character?.background?.key"
        (chooseBackground)="setBackground($event)"
      />
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> Role </ng-template>
      <app-role-step
        [roles]="creatorService.roles$ | async"
        [selectedRole]="character?.role?.key"
        (chooseRole)="setRole($event)"
      />
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> Determin Attribiutes </ng-template>

      @let attributes = creatorService.attributes$| async; 
      @let homeworldAttributes = character?.homeworld?.value?.attributes; 

      @if(homeworldAttributes && attributes) {
        <app-attribute-step
          [bonus]="homeworldAttributes.bonus"
          [penality]="homeworldAttributes.penality"
          [attributes]="attributes"
          (generateAll)="setAttributes()"
          (reroll)="rerollAttribute($event)"
        />
      }
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> Determin Aptitudes </ng-template>
      <app-aptitude-step
        [aptitudes]="(creatorService.aptitudes$ | async) ?? []"
        [aptitudesToPick]="(creatorService.aptitudesToPick$ | async) ?? []"
        (updateAptitudes)="setAptitudes($event)"
      >
      </app-aptitude-step>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> Pick Talents </ng-template>

      @let talents = (creatorService.talents$ | async) ?? []; 
      @let talentsToPick = (creatorService.talentsToPick$ | async) ?? [];

      <app-talent-step
        [talents]="talents"
        [talentsToPick]="talentsToPick"
        (updateTalents)="setTalents($event)"
      />
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> Pick Skills </ng-template>
      
      @let skills = (creatorService.skills$ | async) ?? []; 
      @let skillsToPick = (creatorService.skillsToPick$ | async) ?? [];

      <app-skill-step
        [skills]="skills"
        [skillsToPick]="skillsToPick"
        (updateSkills)="setSkills($event)"
      />
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> Pick Equipment </ng-template>
      
      @let equipment = (creatorService.equipment$ | async) ?? []; 
      @let equipmentToPick = (creatorService.equipmentToPick$ | async) ?? [];

      <app-equipment-step [equipment]="equipment" [equipmentToPick]="equipmentToPick" (updateEquipment)="setEquipment($event)" />
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Determin Wounds And Fate</ng-template>

      @if(character?.homeworld) {
        <app-wounds-and-fate-step
          [homeworld]="character!.homeworld!"
          [fate]="character?.fate"
          [wounds]="character?.wounds"
          (setFate)="setFate()"
          (setWounds)="setWounds()"
        />
      }
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Determin Divination</ng-template>
      <app-divination-step [divination]="character?.divination" (setDivination)="setDivination()" />
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Final Details</ng-template>
      
      @let details = character?.details;
      
      <app-final-details-step
        [details]="details"
        (resetAll)="resetStepperAndCreationService()"
        (setDetails)="setCharacterDetails($event)"
        (save)="saveCharacterCreatorData()"
      ></app-final-details-step>
    </mat-step>
  </mat-stepper>

  <app-roll-loger class="logger"></app-roll-loger>
</div>
