<mat-list class="aptitudes">
@if(aptitudes){
  @for(aptitude of aptitudes; track aptitude){
  <mat-list-item>{{ aptitude }}</mat-list-item>
  }
}
@if(aptitudesToPick){ 
  @for(options of aptitudesToPick; track options){
  <mat-list-item>
  <mat-form-field>
    <mat-label>Choose an option</mat-label>
    <mat-select>
      @for(option of options; track option){
      <mat-option [value]="option">
        {{ option }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  </mat-list-item>
  } 
}
</mat-list>

<app-step-footer />
