<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{ background.name }} </mat-card-title>
    <mat-card-subtitle> Bonus: {{ background.bonus }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>aptitude {{ background.pick?.aptitudes | or }}</p>

    <p>
      skills {{ background.skills }}
      @if(background.skills){, }
      {{ background.pick?.skills | or }}
    </p>

    <p>
      talents {{ background.talents }} @if(background.talents){, }
      {{ background.pick?.talents | or }}
    </p>
    <p>
      Equipment
      
      {{ background.equipment }} @if(background.equipment){, }
      {{ background.pick?.equipment | or }}
    </p>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
