<app-two-column-step
  title="Final Details"
  step="last"
  [valid]="form.valid"
  (save)="saveSheet()"
  (resetAll)="resetAll.emit()"
>
  <div card-content>
  </div>

  <div right-column>
    <mat-card appearance="outlined">
      <mat-card-header class="header"> Final Details </mat-card-header>

      <mat-card-content>
        <form [formGroup]="form" class="form">
            @let nameControl = form.controls['characterName'];
            <mat-form-field class="form-field" [appearance]="'outline'">
                <mat-label>Character Name</mat-label>
                <input matInput formControlName="characterName" />
                <mat-error [hidden]="!nameControl.dirty || nameControl.valid">
                    Field is required.
                </mat-error>
            </mat-form-field>

            @let ageControl = form.controls['age'];
            <mat-form-field class="form-field" [appearance]="'outline'">
                <mat-label>Character Age</mat-label>
                <input matInput formControlName="age" />
                <mat-error [hidden]="!ageControl.dirty || ageControl.valid">
                    Provide number value from 10-999 range.
                </mat-error>
            </mat-form-field>
        </form>
      </mat-card-content>


      <mat-card-actions>
        <button (click)="saveCharacterDetails()" mat-flat-button>Save Character Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
</app-two-column-step>
