<app-main-navigation></app-main-navigation>
@let character$ = sheetService.character$ | async; 
  <div class="wrapper">
    @if(character$){
      <app-sheet-header [editable]="editable"  [character]="character$" />
    } 

    @let attributes$ = character$?.attributes;
    @if(attributes$) {
      <app-attributes-group
        title="Attributes"
        subtitle="Basic attributes of your character"
        [editable]="editable"
        [step]="step"
        [attributes]="attributes$"
        (updatedAttribute)="updateAttribute($event)"
        (roll)="rollDice($event)"
      />
    }

    @let skills$ = character$?.skills;
    @if(skills$) {
      <app-skill-group
        title="Skills"
        subtitle="Basic skills of your character"
        [editable]="editable"
        [step]="step"
        [skills]="skills$"
        (updateSkill)="updateSkill($event)"
        (roll)="rollDice($event)"
      />
    }

    <app-aptitudes-group [aptitudes]="character$?.aptitudes ?? []" />

    @let talents = character$?.tallents;
    @if(talents){
      <app-talents-group title="Talents" subtitle="and special abilities"  [talents]="talents"></app-talents-group>
    }
    <div>
      {{character$?.equipment | json}}
      <br>
      <br>
      <br>

      @let armours = character$?.equipment?.armours;
      @let weapons = character$?.equipment?.weapons;
      @let backpack = character$?.equipment?.backpack;

     
      <div>

      </div>
      Armour <br>
      @for(armour of armours; track armour.name ){
        {{armour.name}} | {{armour.notes}} <br>
      }
      <br><br>
      Weapons <br>
      @for(a of weapons; track a.name ){
        - {{a.name}} | {{a.damage}} | {{a.damageType}} <br>
      }
      <br><br>
      Backpack: <br> 
      @for(a of backpack; track a.name ){
        - {{a.name}} | {{a.quantity}} | {{a.notes}} <br>
      }
    </div>
  </div>
