.wrapper {
  display: grid;
  grid-template-columns: minmax(20px, 50%) minmax(20px, 50%);
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas: 'header header' 'attributes skills' 'talents skills' 'aptitude skills';
  padding: 1rem;
  grid-gap: 1rem;
}
app-sheet-header {
  grid-area: header;
}
app-attributes-group {
  grid-area: attributes;
}

app-skill-group {
  grid-area: skills;
}

app-aptitude {
  grid-area: aptitude;
}

app-talents-group {
  grid-area: talents;
}
