@if (label) {
<label [for]="label">{{ label }}</label>
} 

@if(maxLevel !== 0){
<div class="lvl-wrapper">
  @for (item of maxLevel | fill; track item;) {
  <fa-icon [icon]="currentLevel >= item ? faCircleFilled : faCircle"> </fa-icon>
  }
</div>
}

<mat-form-field [appearance]="'outline'">
  <input matInput type="text" [formControl]="field" [readonly]="editable" />
</mat-form-field>

<div class="buttons">
  <button mat-icon-button (click)="increase.emit()"><mat-icon>add</mat-icon></button>
  <button mat-icon-button (click)="decrease.emit()"><mat-icon>remove</mat-icon></button>
</div>
