.header {
  font-weight: 500;
  border-bottom: 1px solid var(--rs-list-item-border-color);
}

.backpack-item {
    &:nth-child(2n) {
      background-color: var(--rs-list-odd-item-background-color);
    }
  
    span {
      display: block;
      padding: 0.5rem;
    }
  
  
    .padding-h {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }