<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table">
      <div
        name="backpackHeader"
        class="backpack-item header"
        [appGridTemplateAreas]="table.headers"
      >
        @for (columnName of table.headers; track columnName.key) {
          <span [class]="columnName.key">{{ columnName.value }} </span>
        }
      </div>
      @for (tableItem of table.data; track tableItem) {
        <div
          name="backpackRow"
          class="backpack-item"
          [appGridTemplateAreas]="table.headers"
        >
          @for (columnName of table.headers; track columnName.key) {
            <span
              [class]="columnName.key"
              [appGridArea]="columnName.key"
            >
              {{ tableItem[columnName.key] }}
            </span>
          }
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
