<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list role="list">
      @for(attribute of attributes; track attribute.name; let i = $index){ @let isInfluence =
      attribute.name === 'Influence';
      <mat-list-item>
        <app-attribute
          [max]="100"
          [min]="isInfluence ? 0 : attribute.lvl.current * step"
          [maxLevel]="isInfluence ? 0 : attribute.lvl.max"
          [currentLevel]="isInfluence ? 0 : attribute.lvl.current"
          [value]="attribute.value"
          [label]="attribute.name"
          [editable]="editable"
          (valueChange)="updateValue($event, i)"
          (increase)="increase(i)"
          (decrease)="decrease(i)"
          (roll)="rollDice(i)"
        />
      </mat-list-item>
      <mat-divider></mat-divider>
      }
    </mat-list>
  </mat-card-content>
</mat-card>
