<mat-card
  appearance="outlined"
  right-column
>
  <mat-card-content>
    <mat-list>
      @if (items) {
        @for (item of items; track item) {
          <mat-list-item>{{ item.key }}</mat-list-item>
        }
      }

      @if (optionals) {
        @for (options of optionals; track options; let index = $index) {
          <mat-list-item>
            <mat-form-field>
              <mat-select [formControl]="form.at(index)">
                @for (option of options; track option) {
                  <mat-option [value]="option.value">
                    {{ option.key }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </mat-list-item>
        }
      }
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button
      card-actions
      mat-flat-button
      (click)="save()"
      [disabled]="form.invalid"
    >
      Save
    </button>
  </mat-card-actions>
</mat-card>
