:host {
  text-align: center;
}

.title {
  display: block;
  margin-bottom: 0.5rem;
}

.subtitle {
  display: block;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.row {
  display: flex;
  text-align: left;
  .dent {
    display: block;
    margin-left: 0.5rem;
  }
}

.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}
