<mat-card class="creator-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title class="title"> {{ role.name }} </mat-card-title>
    <mat-card-subtitle class="subtitle"> {{ role.bonus }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="name">Aptitude:</div>
      <div class="value">
        {{ role.aptitudes | spread }} @if(role.pick.aptitudes){ ,}
        {{ role.pick.aptitudes | or }}
      </div>
    </div>

    <div class="row">
      <div class="name">Talents</div>
      <div class="value">{{ role.pick.talents | or }}</div>
    </div>
  </mat-card-content>
</mat-card>
