/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use 'm3-theme';
@import url('https://fonts.googleapis.com/css2?family=Abel:wght@300;400;500&display=swap');

@include mat.core();

html {
  @include mat.all-component-themes(m3-theme.$light-theme);
}

html,
body {
  height: 100%;
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.creator-card {
  cursor: pointer;
  .title {
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .subtitle {
    display: block;
    margin-bottom: 1.5rem;
    font-style: italic;
    text-align: center;
  }

  .row {
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.494);
    &:nth-child(2n) {
      background-color: #8080803b;
    }

    .name {
      font-weight: 500;
    }
    .value {
      text-align: right;
      font-weight: 300;
    }
  }
}

.creator {
  .header {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .step {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  .card {
    display: grid;
    mat-card{
      transition: all .35s ease;
    }
    &:hover{
      mat-card {
        background-color: var(--mat-autocomplete-background-color)
      }
    }
    
    &.selected mat-card {
      border: 1px solid var(--mat-stepper-header-selected-state-icon-background-color);
    }
  }

  /* medium monitor*/
  @media screen and (max-width: 1440px) {
    .step {
      grid-template-columns: 1fr 1fr;
    }
  }

  /* small monitor*/
  @media screen and (max-width: 1200px) {
    .step {
      grid-template-columns: 1fr 1fr;
    }
  }

  /* Tablet*/
  @media screen and (max-width: 991px) {
    .step {
      display: block;
    }
    .card {
      margin: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    .creator-card {
      .subtitle {
        margin-bottom: 0.5rem;
      }
      .row {
        display: block;
        &,
        .value {
          text-align: center;
        }
      }
    }
  }
}
