.logger-wrapper {
  background-color: var(
    --mat-card-outlined-container-color,
    var(--mat-app-surface)
  );

  &,
  .item {
    display: block;
    border: 1px solid black;
    border-radius: var(
      --mat-card-outlined-container-shape,
      var(--mat-app-corner-medium)
    );
    border-width: var(--mat-card-outlined-outline-width);
    border-color: var(
      --mat-card-outlined-outline-color,
      var(--mat-app-outline-variant)
    );
    box-shadow: var(
      --mat-card-outlined-container-elevation,
      var(--mat-app-level0)
    );
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    height: auto;
  }
  .item:nth-child(2n) {
    background-color: var(--mat-autocomplete-background-color);
  }
}
.title {
  font-weight: 500;
}
