<mat-card name="rollLogger" appearance="outlined" class="logger-wrapper">
  <mat-card-header>
    <mat-card-title> Dice roll history </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list >
      @for(item of loggerStack$ |async; track item.id){
      <mat-list-item class="item">
          <div matListItemTitle [innerHTML]="item.title"></div>
          <div matListItemLine [innerHTML]="item.message"></div>
      </mat-list-item>
      }
    </mat-list>
  </mat-card-content>
</mat-card>
