.eq-wrapper {
  display: block;
  > * {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.eq-footer {
  display: block;
  padding: 1rem;
}
.eq-actions {
  padding-left: 1rem;
  padding-right: 1rem;
}
