<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{ homeworld.name }} </mat-card-title>
    <mat-card-subtitle> Bonus: {{ homeworld.bonus }}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  /> -->
  <mat-card-content>
    <p>aptitude {{ homeworld.aptitude }}</p>
    <p>
      
      attributes bonus: {{ homeworld.attributes.bonus }} <br />
      attributes penality: {{ homeworld.attributes.penality }}
    </p>
    <p>fate {{ homeworld.fate }}</p>    
    @if(homeworld.skills || homeworld.pick?.skills){
      <p>skills {{ homeworld.skills }} {{ homeworld.pick?.talents | or }}</p>
    }
    @if(homeworld.talents || homeworld.pick?.talents){
      <p>talents {{ homeworld.talents }} {{ homeworld.pick?.talents | or }}</p>
    }
    <p>wounds {{ homeworld.wounds }}</p>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
