<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list role="list">
      @for(attribute of attributes; track attribute.name; let i = $index){
      <mat-list-item>
        <app-attribute [type]="type" [min]="0" [max]="100" [value]="attribute.value" [label]="attribute.name" (valueChange)="updateValue($event, i)" />
      </mat-list-item>
      <mat-divider></mat-divider>
      }
    </mat-list>
  </mat-card-content>
</mat-card>
